html, body, #___gatsby {
    margin: 0;
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    height: 100%;
    width: 100%;
}


.test {
    background-color: #032440;
    background-color: #fff;
    background-color: #FF3344;
    background-color: #E80A2F;
    background-color: #FCAB10;
}